@import url("https://fonts.googleapis.com/css2?family=Quintessential&family=Roboto:wght@300&display=swap");
.reviews, .reviews2, .reviews3, .reviews4 {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .reviews img, .reviews2 img, .reviews3 img, .reviews4 img {
    width: 40px;
    height: 40px;
    border-radius: 10px; }
  .reviews p, .reviews2 p, .reviews3 p, .reviews4 p {
    width: fit-content; }

footer .col-md-2 a img {
  width: 30px;
  height: 30px;
  border-radius: 2px; }

footer .col-md-2 .ft {
  color: #192e59; }

body nav {
  background-color: #192e59; }
  body nav .container-fluid .ht {
    color: white;
    background-color: rgba(0, 0, 0, 0.2); }
  body nav #navbarNavAltMarkup .navbar-nav .nav-link {
    color: white; }

aside div a img:hover {
  width: 99%; }
