@mixin img($w,$h,$br){
	width: $w;
	height: $h;
	border-radius:$br;
}
.reviews{
	display: flex;
	flex-direction: column;
	justify-content: center;
	img{
		@include img (40px,40px,10px);
	}
	p{
		width:fit-content;
	}
}
.reviews2{
	@extend .reviews;
}
.reviews3{
	@extend .reviews;
}
.reviews4{
	@extend .reviews;
}