@mixin img($w,$h,$br){
	width: $w;
	height: $h;
	border-radius:$br;
}
footer{
	.col-md-3{
	}
	.col-md-2{
		a{
			img{
				@include img (30px,30px,2px);
			}
		}
		.ft{
			color:map-get($colors,"darkColor");
		}
	}
}