body{
	nav{
		background-color:map-get($colors,"darkColor");
		.container-fluid{
			.ht{
				color:white;
				background-color: rgba(0,0,0,0.2);
				}
			}
		#navbarNavAltMarkup{
			.navbar-nav{
				.nav-link{
					color:white;
				
				}
			}
		}
		}
}